<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecommerce.main.mapper.CategoryMapper">





	<select id="getAllCategoryByUser"  resultType="com.ecommerce.main.model.Category" parameterType="Integer">
		SELECT * FROM category where user_id=#{userId}
	</select>

	<insert id="saveCategory" parameterType="com.ecommerce.main.model.Category" keyProperty="id" useGeneratedKeys="true" >
		INSERT INTO category(name,description,user_id)
		VALUES(#{name},#{description},#{userId})
	</insert>

	<update id="updateCategory" parameterType="com.ecommerce.main.model.Category">
		UPDATE category SET name = #{name},description=#{description} 
		WHERE id = #{id} 
	</update>

	<delete id="deleteCategory" parameterType="com.ecommerce.main.model.Category">
		DELETE FROM category WHERE id = #{id}
	</delete>

	<select id="findById" parameterType="Integer" resultType="com.ecommerce.main.model.Category"  >
		SELECT * FROM category WHERE id = #{id}
	</select>
	

</mapper>