<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecommerce.main.mapper.RoleMapper">





	<select id="getAllRole"  resultType="com.ecommerce.main.model.Role">
		SELECT * FROM role
	</select>

	<insert id="saveRole" parameterType="com.ecommerce.main.model.Role" keyProperty="id" useGeneratedKeys="true" >
		INSERT INTO role(name)
		VALUES(#{name})
	</insert>

	<update id="updateRole" parameterType="com.ecommerce.main.model.Role">
		UPDATE role SET name = #{name} 
		WHERE id = #{id} 
	</update>

	<delete id="deleteRole" parameterType="Integer">
		DELETE FROM role WHERE id = #{id}
	</delete>

	<select id="findById" parameterType="Integer" resultType="com.ecommerce.main.model.Role"  >
		SELECT * FROM role WHERE id = #{id}
	</select>
	<select id="findByName" parameterType="String" resultType="com.ecommerce.main.model.Role">
		SELECT * FROM role WHERE name = #{name}
	</select>

</mapper>